// PAG ABOUT

// Section 1 about

.section1_about {
    position: relative;
    img {
        width: 100%;
        height: 200px;
    }
    h1 {
        width: 100%;
        height: 100%;
        top: 20%;
        position: absolute;
        font-family: "Texta", "Arial";
        font-weight: 800;
        font-size: 4rem;
        color: white;
        text-align: center;
    }
    
}

// Section 2 about

.section2_about {
    width: 100%;
    background-color: #82B54F;
    margin-bottom: 1rem;
    font-family: "Texta", "Arial";
    margin-top: -0.3rem;
    h2 {
        color: white;
        font-weight: 800;
        font-size: 5rem;
        line-height: 7rem;
        padding: 1rem;
    }
    p {
        color: white;
        font-weight: 800;
        font-size: 3rem;
        line-height: 4.2rem;
        padding: 2rem 1rem;
    }
    img {
        width: 100%;
        padding: 1rem;
    }
}

// Section 3 about

.section3_about {
    width: 100%;
    background-color: #45454E;
    font-family: "Texta", "Arial";
    margin-top: -2rem;
    p {
        color: white;
        font-weight: 800;
        font-size: 3rem;
        line-height: 4.2rem;
        padding: 2rem 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    img {
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
    }
}
