.nav_pages {
    width: 100%;
    margin: 0 auto;
    padding: 0.8rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    .logo_pag img{
        height: 50px;
    }
    label { 
        img {
        height: 40px;
        }
    }
    .menu_navbar {
        ul {
            list-style: none;
            display: flex;
            li {
                a {
                    text-decoration: none;
                    font-family: 'Montserrat', sans-serif;
                    color: black;
                    font-weight: 400;
                    font-size: 2.5rem;
                    line-height: 4rem;
                }
            }
        }
    }
    #toggle{
        display: none;
    }
    
}
